@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slide-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-slide-left {
    display: inline-block;
    white-space: nowrap;
    animation: slide-left 30s linear infinite;
  }
  
  .animate-slide-right {
    display: inline-block;
    white-space: nowrap;
    animation: slide-right 30s linear infinite;
  }
  
  